<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- CSS Normalize -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- CSS Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Web PT | {% block title %}{% endblock title %}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <!-- Header -->
    <header id="id_header">
        <div class="logo-w-menu">
            <a id="id_logo" href="{% url 'customer-page' %}">
                <img src="{% static 'img/logo.png' %}" alt="Web_pt">
            </a>
            <div id="id_btn_menu">
                <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M4 8H20M4 16H12" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </div>
        </div>
        <nav id="id_navbar">
            <a class="nav-link" href="{% url 'customer-page' %}">Inicio</a>
            <a class="nav-link" href="">Agenda</a>
            {% if user.is_staff %}    
            <a class="nav-link" href="">Inventario</a>
            {% endif %}
            <hr class="separator">
            <a class="nav-link" id="id_btn_logout" href="{% url 'logout' %}">
                
                <svg width="12px" height="12px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect width="16" height="16" id="icon-bound" fill="none"></rect> <path d="M14,14l0,-12l-6,0l0,-2l8,0l0,16l-8,0l0,-2l6,0Zm-9.002,-0.998l-4.998,-5.002l5,-5l1.416,1.416l-2.588,2.584l8.172,0l0,2l-8.172,0l2.586,2.586l-1.416,1.416Z"></path> </g></svg>
                <p>Cerrar sesión</p>
            </a>
        </nav>
    </header>

    {% endif %}

    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    <footer id="id_footer">
        <p>Piccioli Telco</p>
    </footer>

    <div id="id_alert_messages">
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>

    
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/App.js' %}"></script>

    {% block scripts %}
    {% endblock scripts %}
    
</body>
</html>