$primary-color: #1474fb;
$secondary-color: #031630;

$black: #000;
$white: #fff;

$danger-color: #e24b4b;
$warning-color: #df940a;
$success-color: #14a16d;;
$info-color: #2099f0;

$xs: 480px;
$sm: 640px;
$md: 770px;
$lg: 1024px;
