{% extends "core.html" %}

{% load static %}
{% block title %}Órdenes de trabajo{% endblock title %}

{% block content %}
    <main>
        <div class="header-main">
            <h1>Órdenes de trabajo</h1>
        </div>
        <div class="content-1">
            <aside class="aside-menu">
                <a href="{% url 'order-update' installation.order.pk %}" class="btn btn-2">Volver</a>
            </aside>
            <section class="section-detail">
                <div class="object-detail installation-detail">
                    <h1 class="header-section">Completar: OR-{{ installation.order.pk }}</h1>
                    <form action="" class="form-object-detail form-installation-detail">
                        <div>
                            <label for="id_contract_number">{{ customer_form.contract_number.label }}</label>
                            {{ customer_form.contract_number }}
                        </div>
                        <div class="columns-2">
                            <label for="id_customer_name">{{ customer_form.customer_name.label }}</label>
                            {{ customer_form.customer_name }}
                        </div>
                        <div>
                            <label for="id_category">{{ customer_form.category.label }}</label>
                            {{ customer_form.category }}
                        </div>
                        <div>
                            <label for="id_plan">{{ customer_form.plan.label }}</label>
                            {{ customer_form.plan }}
                        </div>
                        <div class="columns-2">
                            <label for="id_address">{{ customer_form.address.label }}</label>
                            {{ customer_form.address }}
                        </div>
                    </form>
                    <hr>
                    <form class="form-object-detail form-installation-detail" method="post">
                        {% csrf_token %}
                        {{ form.order }}
                        <div class="inputs-box columns-2">
                            <div>
                                <label for="id_zone">{{ form.zone.label }}</label>
                                {{ form.zone }}
                            </div>
                            <div>
                                <label for="id_olt">{{ form.olt.label }}</label>
                                {{ form.olt }}
                            </div>
                            <div>
                                <label for="id_card">{{ form.card.label }}</label>
                                {{ form.card }}
                            </div>
                            <div>
                                <label for="id_pon">{{ form.pon.label }}</label>
                                {{ form.pon }}
                            </div>
                            <div>
                                <label for="id_box">{{ form.box.label }}</label>
                                {{ form.box }}
                            </div>
                            <div>
                                <label for="id_port">{{ form.port.label }}</label>
                                {{ form.port }}
                            </div>
                        </div>
                        <div>
                            <label for="id_box_power">{{ form.box_power.label }}</label>
                            {{ form.box_power }}
                        </div>
                        <div>
                            <label for="id_house_power">{{ form.house_power.label }}</label>
                            {{ form.house_power }}
                        </div>
                        <div>
                            <label for="id_onu_serial">{{ form.onu_serial.label }}</label>
                            {{ form.onu_serial }}
                        </div>
                        <div>
                            <label for="id_router_serial">{{ form.router_serial.label }}</label>
                            {{ form.router_serial }}
                        </div>
                        <div>
                            <label for="id_drop_serial">{{ form.drop_serial.label }}</label>
                            {{ form.drop_serial }}
                        </div>
                        <div>
                            <label for="id_drop_used">{{ form.drop_used.label }}</label>
                            {{ form.drop_used }}
                        </div>
                        <div>
                            <label for="id_hook_used">{{ form.hook_used.label }}</label>
                            {{ form.hook_used }}
                        </div>
                        <div> 
                            <label for="id_fast_conn_used">{{ form.fast_conn_used.label }}</label>
                            {{ form.fast_conn_used }}
                        </div>
                        <div>
                            <button class="columns-6 btn btn-submit" type="submit">Editar</button>
                        </div>
                    </form> 
                </div>
                <div class="installation-message">
                    <button class="btn" onclick="get_message()">Generar mensaje</button>
                    <textarea id="id_message" readonly></textarea>
                </div>
            </section>
        </div>
    </main>
    <script>
        function get_message() {
            message = `*Validar potencia*\n*Nro. De Contrato:* ${document.querySelector('#id_contract_number').value}\n*Nombre:* ${document.querySelector('#id_customer_name').value}\n*Dirección:* ${document.querySelector('#id_address').value}\n*Z${document.querySelector('#id_zone').value}.OLT${document.querySelector('#id_olt').value}.T${document.querySelector('#id_card').value}.PON${document.querySelector('#id_pon').value}.C${document.querySelector('#id_box').value}.PUERTO${document.querySelector('#id_port').value}*\n*PC:* ${document.querySelector('#id_box_power').value}\n*PR:* ${document.querySelector('#id_house_power').value}\n*Serial Del Equipo:* ${document.querySelector('#id_onu_serial').value}\n*Fibra DROP:* ${document.querySelector('#id_drop_serial').value}/${document.querySelector('#id_drop_used').value}\n*Tensores:*${document.querySelector('#id_hook_used').value}\n*Conectores:*${document.querySelector('#id_fast_conn_used').value}`
            document.querySelector("#id_message").innerHTML = message
        }
    </script>
{%  endblock content %}