{% extends "core.html" %}

{% load static %}
{% block title %}Órdenes de trabajo{% endblock title %}

{% block content %}
    <main>
        <div class="header-main">
            <h1>Órdenes de trabajo</h1>
        </div>
        <div class="content-1">
            <aside class="aside-menu">
                <a href="{% url 'order-list' %}" class="btn btn-2">Lista de órdenes</a>
                <hr>
                <a href="{% url 'customer-update' order.customer.pk %}" class="btn btn-1">Ver cliente</a>
                {% if order.technician and not order.closed %}
                <a href="{% url 'order-complete' %}?order={{ order.pk }}" class="btn btn-1">Completar orden</a>
                {% endif %}
                {% if order.completed %}
                <a href="{% url 'installation-update' order.installation.pk %}" class="btn btn-1">Información instalación</a>
                {% endif %}
            </aside>
            <div class="section-detail">
                <div class="object-detail">
                    <h1 class="header-section">OR-{{ order.pk }}</h1>
                    <form class="form-object-detail form-order-detail">
                        <div>
                            <label for="id_contract_number">{{ customer_form.contract_number.label }}</label>
                            {{ customer_form.contract_number }}
                        </div>
                        <div class="columns-2">
                            <label for="id_customer_name">{{ customer_form.customer_name.label }}</label>
                            {{ customer_form.customer_name }}
                        </div>
                        <div>
                            <label for="id_plan">{{ customer_form.plan.label }}</label>
                            {{ customer_form.plan }}
                        </div>
                        <div>
                            <label for="id_phone_1">{{ customer_form.phone_1.label }}</label>
                            {{ customer_form.phone_1 }}
                        </div>
                        <div>
                            <label for="id_phone_2">{{ customer_form.phone_2.label }}</label>
                            {{ customer_form.phone_2 }}
                        </div>
                        <div>
                            <label for="id_category">{{ customer_form.category.label }}</label>
                            {{ customer_form.category }}
                        </div>
                        <div class="columns-2 input-address">
                            <label for="id_address">{{ customer_form.address.label }}</label>
                            {{ customer_form.address }}
                        </div>
                        <div>
                            <label for="id_customer_type">{{ customer_form.customer_type.label }}</label>
                            {{ customer_form.customer_type }}
                        </div>
                        <div class="columns-2 input-comment" >
                            <label for="id_comment">{{ customer_form.comment.label }}</label>
                            {{ customer_form.comment }}
                        </div>
                    </form>
                    <hr>
                    <form class="form-object-detail form-order-detail" {% if order.closed %}id="disabled-form"{% endif %} method="post">
                        {% csrf_token %}
                        <div>
                            <label >Status</label>
                            <input type="text" name="" id="" value="{{ status }}" disabled>
                        </div>
                        <div>
                            <label  for="id_technician">{{ form.technician.label }}</label>
                            {{ form.technician }}
                        </div>
                        <div>
                            <label  for="id_date_assigned">{{ form.date_assigned.label }}</label>
                            {{ form.date_assigned }}
                        </div>
                        <div class="columns-2 input-extra-order-comment">
                            <label  for="id_extra_order_comment">{{ form.extra_order_comment.label }}</label>
                            {{ form.extra_order_comment }}
                        </div>
                        <div class="columns-3">
                            <button type="submit" class="btn btn-submit" {% if order.closed %}disabled{% endif %}>Editar</button>
                            <a href="{% url 'delete-order' order.pk %}" class="btn btn-delete">Eliminar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script>
        inputs = document.querySelector('#disabled-form').querySelectorAll('input')
        selects = document.querySelector('#disabled-form').querySelectorAll('select')
        inputs.forEach(element => {
            element.disabled = true
        });
        selects.forEach(element => {
            element.disabled = true
        });
        console.log(f);
    </script>
{% endblock content %}