@use '../variables' as v;

#id_footer {
    height: 3rem;
    background-color: v.$black;
    display: flex;
    align-items: center;
    justify-content: center;
    p { 
        color: v.$white;
        font-size: 0.75rem;
        font-weight: 600;
    }
}