/* Variables */
/* Standard */
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

/* Header */
#page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #001736;
}
#page-header #page-logo {
  display: contents;
}
#page-header #header-navbar .nav-option {
  margin: 0 1rem;
  color: #FFF;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
}
#page-header #header-navbar .nav-option:hover {
  color: #398cff;
}
@media (max-width: 672px) {
  #page-header {
    flex-direction: column;
  }
  #page-header #header-navbar {
    margin: 1rem 0;
  }
}
@media (max-width: 550px) {
  #page-header {
    padding: 1rem;
  }
  #page-header #header-navbar {
    width: 100%;
  }
  #page-header #header-navbar .nav-option {
    display: block;
    padding: 0.8rem;
    margin-bottom: 0.6rem;
    border-radius: 4px;
  }
  #page-header #header-navbar .nav-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/* Login page */
.div-login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-login .login-content {
  border: 1px solid #001736;
  border-radius: 0.25rem;
  padding: 2rem;
  box-shadow: -4px 4px rgba(0, 23, 54, 0.6);
  width: 100%;
  min-width: 240px;
  max-width: 360px;
}
.div-login .login-content .header-login {
  margin: 0 0 1rem 0;
}
.div-login .login-content #form-login label {
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.25rem;
}
.div-login .login-content #form-login .div-input-icon {
  display: flex;
  align-items: center;
  border: 1px solid #b7b7b7;
  margin-bottom: 1rem;
}
.div-login .login-content #form-login .div-input-icon svg {
  margin: 0 0.5rem;
}
.div-login .login-content #form-login .div-input-icon input {
  width: 100%;
  border: none;
  font-size: 0.9rem;
  padding: 0.75rem 1rem;
}
.div-login .login-content #form-login .btn-login-submit {
  width: 100%;
  padding: 0.75rem 0.5rem;
  background-color: #001736;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #FFF;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.div-login .login-content #form-login .btn-login-submit:hover {
  cursor: pointer;
  background-color: #FFF;
  border: 1px solid #001736;
  color: #001736;
}
.div-login .login-content #form-login .text-error {
  background-color: #ffebeb;
  color: #c12f2f;
  font-weight: 600;
  font-size: 0.85rem;
  padding: 0.5rem;
}

/* General styles */
main .header-main {
  padding: 1.75rem;
  border-bottom: 1px solid #b7b7b7;
}
main .header-main h1 {
  font-size: 1.5rem;
  margin: 0;
}

.content-1 {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 17rem 1px 1fr;
}
.content-1 .aside-menu {
  padding: 1rem;
}
.content-1 .aside-menu .input-search {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 500;
  appearance: none;
  margin-bottom: 0.5rem;
}
.content-1 .aside-menu .label-search {
  font-weight: 600;
  font-size: 0.7rem;
}
.content-1 .aside-menu .btn {
  display: block;
  cursor: pointer;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem 0.5rem;
  border: 1px solid transparent;
  margin-bottom: 0.5rem;
}
.content-1 .aside-menu .btn:last-child {
  margin: 0;
}
.content-1 .aside-menu .btn-1 {
  background-color: #398cff;
  color: #FFF;
}
.content-1 .aside-menu .btn-1:hover {
  background-color: rgba(57, 140, 255, 0.8);
}
.content-1 .aside-menu .btn-2 {
  background-color: rgba(0, 23, 54, 0.8);
  color: #FFF;
}
.content-1 .aside-menu .btn-2:hover {
  background-color: rgba(0, 23, 54, 0.7);
}
.content-1 .aside-menu .btn-submit {
  border: 1px solid transparent;
  background-color: #001736;
  color: #FFF;
  margin-top: 0.5rem;
}
.content-1 .aside-menu .btn-submit:hover {
  border: 1px solid #001736;
  background-color: #FFF;
  color: #001736;
}
.content-1 .aside-menu hr {
  border: none;
  border-bottom: 1px solid #000;
}
.content-1 .divider {
  border: none;
  border-right: 1px solid #b7b7b7;
  height: 100%;
  margin: 0;
}
.content-1 .section-list {
  padding: 2rem;
}
.content-1 .section-list .buttons-prev-next {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  margin: 1rem 0;
}
.content-1 .section-list .buttons-prev-next .btn-prev, .content-1 .section-list .buttons-prev-next .btn-next {
  width: 100%;
  max-width: 220px;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: rgba(0, 23, 54, 0.5);
  color: #FFF;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.content-1 .section-list .buttons-prev-next .btn-active {
  background-color: #001736;
  color: #FFF;
}
.content-1 .section-list .buttons-prev-next .btn-active:hover {
  background-color: rgba(0, 23, 54, 0.8);
}
.content-1 .object-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  height: fit-content;
}
.content-1 .object-list .object-card {
  display: block;
  text-decoration: none;
  color: #001736;
  border: 1px solid #001736;
  padding: 1rem;
  font-size: 0.8rem;
  width: 100%;
  margin: auto;
  border-radius: 0.25rem;
  box-shadow: -4px 4px rgba(0, 23, 54, 0.2);
}
.content-1 .object-list .object-card .object-pk {
  font-size: 0.85rem;
  font-weight: 700;
}
.content-1 .object-list .object-card p {
  margin: 0;
  width: 100%;
}
.content-1 .object-list .object-card .nowrap {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content-1 .object-list .object-card .label {
  font-weight: 600;
}
.content-1 .object-list .object-card hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #001736;
}
.content-1 .object-list .order-card {
  max-width: 300px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 0.75rem;
}
.content-1 .object-list .order-card .columns-2 {
  grid-column: 1/3;
}
.content-1 .object-list .order-card .order-card-address {
  height: 29.4px;
  text-wrap: wrap;
}
.content-1 .object-list .order-card .order-status {
  padding: 0.5rem;
  font-weight: 700;
  font-size: 0.75rem;
  text-align: center;
}
.content-1 .object-list .order-card .order-status-completed {
  background-color: #ffebeb;
  border-radius: 0.25rem;
  color: #c12f2f;
}
.content-1 .object-list .order-card .order-status-closed {
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 0.25rem;
}
.content-1 .object-list .order-card .order-status-to-assign {
  background-color: rgba(161, 134, 0, 0.2);
  color: #A18600;
  border-radius: 0.25rem;
}
.content-1 .object-list .order-card .order-status-assigned {
  background-color: rgba(39, 115, 49, 0.2);
  color: #277331;
  border-radius: 0.25rem;
}
.content-1 .object-list .order-card .btn-select-order {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.content-1 .object-list .order-card div {
  overflow: hidden;
}
.content-1 .object-list .customer-card {
  min-width: 200px;
  width: 100%;
}
.content-1 .object-list .customer-card p {
  margin: 0.25rem 0;
}
.content-1 .object-list .customer-card .customer-card-name {
  font-weight: 600;
}
.content-1 .object-list .customer-card .customer-card-address {
  height: 29.4px;
  overflow: hidden;
}
.content-1 .object-list .customer-card .customer-card-phone {
  font-weight: 600;
}
@media (max-width: 1190px) {
  .content-1 .object-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 900px) {
  .content-1 .object-list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 620px) {
  .content-1 .object-list .customer-card {
    max-width: 300px;
  }
}
.content-1 .section-detail {
  padding: 2rem;
}
.content-1 .object-detail {
  max-width: 800px;
  border: 1px solid #001736;
  padding: 1rem;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: -4px 4px rgba(0, 23, 54, 0.2);
}
.content-1 .object-detail .header-section {
  font-size: 1.25rem;
}
@media (max-width: 620px) {
  .content-1 .object-detail {
    max-width: 300px;
    margin: auto;
  }
}
.content-1 .installation-detail {
  max-width: 460px;
}
.content-1 .form-object-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.content-1 .form-object-detail .columns-2 {
  grid-column: span 2;
}
.content-1 .form-object-detail .columns-3 {
  grid-column: span 3;
}
.content-1 .form-object-detail label {
  font-weight: 600;
  font-size: 0.75rem;
}
.content-1 .form-object-detail input, .content-1 .form-object-detail select, .content-1 .form-object-detail textarea {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.25rem;
  height: 35px;
  border: 1px solid rgba(0, 23, 54, 0.5);
}
.content-1 .form-object-detail input:disabled, .content-1 .form-object-detail select:disabled, .content-1 .form-object-detail textarea:disabled {
  border: 1px solid rgba(0, 23, 54, 0.2);
  font-weight: 600;
}
.content-1 .form-object-detail textarea {
  resize: none;
}
.content-1 .form-object-detail .btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid transparent;
  text-decoration: none;
  padding: 0.5rem 2rem;
  font-size: 0.85rem;
  text-align: center;
  border-radius: 0.25rem;
}
.content-1 .form-object-detail .btn-submit {
  background-color: #001736;
  color: #FFF;
}
.content-1 .form-object-detail .btn-submit:hover {
  border: 1px solid #001736;
  color: #001736;
  background-color: #FFF;
}
.content-1 .form-object-detail .btn-submit:disabled {
  cursor: auto;
  background-color: rgba(0, 23, 54, 0.2);
}
.content-1 .form-object-detail .btn-submit:disabled:hover {
  background-color: rgba(0, 23, 54, 0.2);
  color: #FFF;
  border: 1px solid rgba(0, 23, 54, 0.2);
}
.content-1 .form-object-detail .btn-delete {
  background-color: #c12f2f;
  color: #FFF;
}
.content-1 .form-object-detail .btn-delete:hover {
  border: 1px solid #c12f2f;
  color: #c12f2f;
  background-color: #FFF;
}
@media (max-width: 900px) {
  .content-1 .form-object-detail {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1rem;
  }
  .content-1 .form-object-detail .columns-3 {
    grid-column: span 2;
  }
}
@media (max-width: 900px) {
  .content-1 .form-object-detail {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .content-1 .form-object-detail .columns-3 {
    grid-column: span 2;
  }
}
@media (max-width: 800px) {
  .content-1 .form-object-detail {
    grid-template-columns: 1fr !important;
  }
  .content-1 .form-object-detail .columns-2 {
    grid-column: span 1;
  }
  .content-1 .form-object-detail .columns-3 {
    grid-column: span 1;
  }
  .content-1 .form-object-detail .btn {
    width: 100%;
    margin-bottom: 0.25rem;
  }
}
.content-1 .form-order-detail textarea, .content-1 .form-customer-detail textarea, .content-1 .form-installation-detail textarea {
  height: 50px;
}
@media (max-width: 800px) {
  .content-1 .form-order-detail textarea, .content-1 .form-customer-detail textarea, .content-1 .form-installation-detail textarea {
    height: 80px;
  }
}
.content-1 .form-installation-detail {
  grid-template-columns: repeat(2, 1fr);
}
.content-1 .form-installation-detail .columns-3 {
  grid-column: span 2;
}
.content-1 .form-installation-detail .inputs-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.25rem;
}
.content-1 .form-installation-detail .inputs-box div {
  overflow: hidden;
}
.content-1 .installation-message {
  max-width: 460px;
  margin: 2rem 0;
}
.content-1 .installation-message .btn {
  cursor: pointer;
  background-color: #398cff;
  color: #FFF;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0.7rem;
  border: none;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
.content-1 .installation-message .btn:hover {
  background-color: rgba(57, 140, 255, 0.8);
}
.content-1 .installation-message #id_message {
  width: 100%;
  height: 300px;
  resize: none;
  border-radius: 0.25rem;
  padding: 1rem;
  font-weight: 500;
}
.content-1 .orders-in-customer {
  margin: 4rem 0 0 0;
  max-width: 800px;
  padding: 0.5rem;
}
.content-1 .orders-in-customer .header-orders-in-customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
@media (max-width: 620px) {
  .content-1 .orders-in-customer .header-orders-in-customer {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.content-1 .orders-in-customer h3 {
  margin: 0;
}
.content-1 .orders-in-customer .btn-add-order {
  background-color: #398cff;
  color: #FFF;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.75rem;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}
.content-1 .orders-in-customer .orders-in-customer-list .order-in-customer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #001736;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: -4px 4px rgba(0, 23, 54, 0.2);
  text-decoration: none;
  color: #001736;
  font-size: 0.85rem;
}
.content-1 .orders-in-customer .orders-in-customer-list .order-in-customer p {
  margin: 0;
}
@media (max-width: 620px) {
  .content-1 {
    grid-template-columns: 1fr;
  }
  .content-1 .aside-menu {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
  }
  .content-1 .divider {
    width: 100%;
    border: none;
    border-bottom: 1px solid #b7b7b7;
  }
  .content-1 .section-list {
    padding: 1rem;
  }
  .content-1 .section-detail {
    padding: 1rem 0;
  }
}

.content-2 {
  min-height: 100vh;
}
.content-2 .section-technicians {
  padding: 2rem;
}
.content-2 .section-technicians .technician {
  margin-bottom: 4rem;
}
.content-2 .section-technicians .technician .header-technician {
  font-size: 1.25rem;
  color: #001736;
}
.content-2 .section-technicians .technician .p-not-found {
  background-color: #e2e2e2;
  color: #707070;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}
@media (max-width: 620px) {
  .content-2 .section-technicians {
    padding: 0.5rem;
  }
}
.content-2 .content-technician {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}
.content-2 .content-technician .technician-order-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.content-2 .content-technician .technician-order-list .technician-order {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  text-decoration: none;
  color: #001736;
  border: 1px solid #001736;
  padding: 0.75rem;
  border-radius: 0.25rem;
  height: fit-content;
  box-shadow: -4px 4px rgba(0, 23, 54, 0.2);
}
.content-2 .content-technician .technician-order-list .technician-order p {
  font-size: 0.8rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
.content-2 .content-technician .technician-order-list .technician-order div {
  overflow: hidden;
}
.content-2 .content-technician .technician-order-list .technician-order hr {
  width: 100%;
  margin: 0;
}
.content-2 .content-technician .technician-order-list .technician-order .order-pk {
  font-weight: 800;
  font-size: 0.9rem;
}
.content-2 .content-technician .technician-order-list .technician-order .order-address {
  height: 29.4px;
  text-wrap: wrap;
}
.content-2 .content-technician .technician-order-list .technician-order .columns-2 {
  grid-column: span 2;
}
.content-2 .content-technician .technician-order-list .technician-order .label {
  font-weight: 700;
  font-size: 0.8rem;
}
.content-2 .content-technician .orders-message {
  grid-column: 2/3;
  border: 1px solid #b7b7b7;
  padding: 0.65rem;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0.25rem;
  overflow-y: scroll;
  height: 100%;
}
.content-2 .content-technician .orders-message .order-message p {
  display: inline-block;
  margin: 0.25rem;
}
.content-2 .content-technician .orders-message .order-message p:last-child {
  display: block;
}
.content-2 .content-technician .orders-message .text p:last-child {
  display: block;
}
.content-2 .content-technician .orders-message hr {
  border: none;
  border-bottom: 1px solid rgba(0, 23, 54, 0.6);
}
.content-2 .content-technician .orders-message hr:last-child {
  display: none;
}
.content-2 .content-technician .orders-message::-webkit-scrollbar {
  width: 4px;
}
.content-2 .content-technician .orders-message::-webkit-scrollbar-thumb {
  background-color: #001736;
  border-radius: 2px;
}
@media (max-width: 1190px) {
  .content-2 .content-technician {
    grid-template-columns: 2fr 1fr;
  }
  .content-2 .content-technician .technician-order-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 900px) {
  .content-2 .content-technician {
    grid-template-columns: 1fr 1fr;
  }
  .content-2 .content-technician .technician-order-list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 620px) {
  .content-2 .content-technician {
    grid-template-columns: 1fr;
  }
  .content-2 .content-technician .orders-message {
    grid-column: 1/2;
  }
}

/*# sourceMappingURL=style.css.map */
